.chess-cell {
    width: 90px;
    height: 90px;
    margin: 1px;
    border-radius: 5px;
    padding: 0 0px;
    background: black;
    border-color: #ff964a;
    border-width: 1px;
    border-style: solid;
    float:left;
}
  
input {
    border: 0px;
    outline: 0px;
    margin: 0px;
    background: transparent;
    width: 90px;
    height: 90px;
    line-height: 0px;
    padding: 0 0px;
    font-size:50px;
    text-align:center;
    color: #ffffff;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #eee4da;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    max-width: 900px;
    margin: auto;
}